/*Main styling section */
main section{
    border: solid 2px #888;
    width: 60%;
    text-align: center;
    margin:auto;
}
main section img{
    width : 80%;
    border: 10px;
    border-style: ridge outset outset ridge;
}
main section p{
    margin:0px auto;
    margin-bottom: 5%;
    width: 75%;
}

/* Footer styling section */
