/*Main styling section */
main section{
    border: solid 2px #888;
    width: 60%;
    text-align: center;
    margin:auto;
}
main section img{
    width : 80%;
    border: 10px;
    border-style: ridge outset outset ridge;
}
main section p{
    margin:0px auto;
    margin-bottom: 5%;
    width: 75%;
}
/* form styling section */
form{
    background-color: #eee;
    text-align:center;
}
form div input{
    width:30%;
    margin: 20px;
    border-style:none none solid none;
    border-radius: 5px;
    border-color: blue;
    background-color: #eee;
}
.form-textArea{
    display:flex;
    justify-content: center;
    margin-bottom: 20px;
}
form div textarea{
    width:67.2%;
    margin-left: 17px;
    border-style:none none solid none;
    border-radius: 5px;
    border-color: blue;
    background-color: #eee;
}
form input{
    border-style: ridge;
    border-radius: 20px;
    font-size: 18pt;
}

/* Footer styling section */
