
h2{
  text-align:center;
}
.heading{
  display:flex;
  justify-content: center;
}
header div img{
  max-width: 350px;
  height:auto;
  margin: 25px;
}
.nav-container{
   justify-content: center;
 display:flex;
}
header nav ul li{
  text-decoration: none;
  list-style: none;
  display: inline-block;
  font-size: 16pt;
  border-radius: 5px;
  border-style: double;
  padding: 5px 60px;
  margin:5px;
}
header nav div ul a li:hover{
  background-color: #eee;
  color:black;
}
