/* Suitable for min 1000px width */
h2{
  margin-top: 25px;
  margin-bottom: 0px;
  text-align:center;
}
.heading{
  display:flex;
  justify-content: center;
}
header div img{
  max-width: 350px;
  height:auto;
  margin: 25px;
  margin-bottom: 0px;
}
.nav-container{
  justify-content: center;
  display:flex;
  width: 100%;
  padding-left:0px;
}
header nav ul a{
  font-size: 16pt;
  border-radius: 5px;
  border-style: double;
  padding: 5px 70px;
  margin:10px;
}
header nav ul li{
  text-decoration: none;
  list-style: none;
  display: inline-block  
}
header nav div ul a:hover{
  background-color: #eee;
  color:black;
}
/*Main styling section */
main section{
  border: solid 2px #888;
  width: 60%;
  text-align: center;
  margin:auto;
}
main section img{
  width : 80%;
  border: 10px;
  border-style: ridge outset outset ridge;
}
main section p{
  margin:0px auto;
  margin-bottom: 5%;
  width: 75%;
}
/* form styling section */
form{
  background-color: #eee;
  text-align:center;
}
form div input{
  width:30%;
  margin: 20px;
  border-style:none none solid none;
  border-radius: 5px;
  border-color: blue;
  background-color: #eee;
}
.form-textArea{
  display:flex;
  justify-content: center;
  margin-bottom: 20px;
}
form div textarea{
  width:67.2%;
  margin-left: 17px;
  border-style:none none solid none;
  border-radius: 5px;
  border-color: blue;
  background-color: #eee;
}
form input{
  border-style: ridge;
  border-radius: 20px;
  font-size: 18pt;
}

/* Footer styling section */
